header {
  background-color: #004077;
  height: 65px;
  width: 100%;
  padding: 15px 0 0 30px;
}

#search-route {
  margin: 20px 0 0 0;
  height: 500px;
  background-image: url("../images/bus-bg.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center center;
}

md-button.md-button-colored {
  color: #FFF;
  fill: #FFF;
}

#search-block {
  background-color: rgba(255,255,255,0.9);
  height: 300px;
  width: 400px;
}

#search-block h2 {
  text-align: center;
}

md-input-group.md-input-has-value:not(.md-input-focused) label, .md-input-group.md-input-has-value:not(.md-input-focused) label {
  font-size: 16px;
}

md-input-group.md-input-focused input, md-input-group.md-input-focused label {
  border-color: #003059;
  color: #003059;
  font-size: 16px;
}

.md-theme-light-blue {
  padding: 0 15px 0 15px;
  background-color: #004077 !important;
}

md-button .md-button-inner:hover {
  color:#004077;
}
